<h1>Articles</h1>
<div align="center">
	<%= will_paginate %>
</div>
<% if @articles.length > 0%>
	<%= render 'articles', obj: @articles%>
<% else %>
	<%= render 'layouts/emptydata'%>
<% end %>
<div align="center">
	<%= will_paginate %>
</div> 