<h1>Show Selected Article</h1>

<p>
	<label style="color: #00CBFD">Title : </label>
	<p><label> &nbsp;&nbsp;<%= @article.title%></label></p>
	
</p>
<p>
	<label style="color: #00CBFD">Description : </label>
	<p><label> &nbsp;&nbsp;<%= @article.description%></label></p>
	
</p>

<%= link_to 'Edit Articles' ,edit_article_path(@article), class:'btn btn-primary btn-lg' %>
<div class="col-xs-4 col-xs-offset-4">
			[ <%= link_to "Articles listing", articles_path %> ]
</div>
