<h1>Show Selected Article</h1>

<p>
	<label><b>Title : </b></label><br />
	<label><%= @article.title%></label>
</p>
<p>
	<label><b>Description : </b></label><br />
	<label><%= @article.description%></label>
</p>
