<html>
	<head>
		<title>Page Title</title>
		<style>
		</style>
	</head>
	<body">

		<div>
			<div class="center jumbotron">
				<h1>Alpha Blog</h1>
			</div>
		</div>
		<div>
			<div style="float: right; width: 49%">
				<h2> 1 Guide Assumptions</h2>
				<p>
					This guide is designed for beginners who want to get started with a Rails application from scratch. It does not assume that you have any prior experience with Rails.
				</p>
				<p>
					Rails is a web application framework running on the Ruby programming language. If you have no prior experience with Ruby, you will find a very steep learning curve diving straight into Rails. There are several curated lists of online resources for learning Ruby:
				</p>
			</div>
			<div style="float: left; width: 50%">
				<h1>2 What is Rails?</h1>
				<p>
					Rails is a web application development framework written in the Ruby programming language. It is designed to make programming web applications easier by making assumptions about what every developer needs to get started. It allows you to write less code while accomplishing more than many other languages and frameworks.
				</p>
				<p>
					By following along with this guide, you'll create a Rails project called blog, a (very) simple weblog. Before you can start building the application, you need to make sure that you have Rails itself installed.
				</p>

			</div>
		</div>
	</body>
</html>
