$navbar-default-bg: #00CBFD;

@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align:center;
}
#logo{ flot:left; color:#fff; font-weight:bold; font-size: 1.5em; letter-spacing:1px; }

.center{ text-align: center; }

.jumbotron{ background-image: asset-url('header.png'); background-size: cover; }

.jumbotron h1{ color:#fff; }

.hideextra { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }

.article-title{font-weight : bold; font-size:1.5em;}

.article-des{border-top: 1px solid #EAEAEA; padding-top: 15px; font-weight: bold;}

.rightsmall{float:left; color:#717171;}

.leftsmall{float:right; color:#717171;}

.listing{list-style:none;}

footer { margin-top: 45px; padding-top: 5px; border-top: 1px solid #eaeaea; color: #777; }

footer a:hover { color: #222; }

footer small { float: left; }

footer ul { float: right; list-style: none; }

footer ul li { float: left; margin-left: 15px; }