<h1>Articles for <%= @category.name%> category</h1>
<% if @category_articles.length > 0 %>
<div align="center">
	<%= will_paginate @category_articles%>
</div>
<%= render 'articles/articles', obj: @category_articles%>
<div align="center">
	<%= will_paginate @category_articles%>
</div>
<% else %>
<div align="center">
	<p style="color: red;"><b> No Data Found For This Category </b> </p>
</div>
<% end %>
