<div class="container">

	<footer class="footer">

		<small> Copyright © <%= link_to 'The complete details on alpha blog','#'%> design by <%=link_to 'Sachin Saini','#'%> </small>

		<nav>

			<ul>

				<li>
					<%= link_to "About Alpha Blog", about_path %>
				</li>

			</ul>

		</nav>

	</footer>

</div>